<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisSection" type="NFramework.TaskHandler.Redis.Configurations.RedisSection, NFramework.TaskHandler"/>
  </configSections>

  <RedisSection>
    <RedisDBs>
      <RedisDB Name="localhost" ConnectionString="127.0.0.1:6379"></RedisDB>
    </RedisDBs>
    <RedisApps>
      <RedisApp Name="NF_TaskHandler" RedisDB="localhost"></RedisApp>
    </RedisApps>
  </RedisSection>
</configuration>